In [100]:
x = 1
y = 2

def f():
    
    x = 3
    y = 4
    print(x,y)
    class A:
        print(x,y)
        x = 99
f()

3 4
1 4

In [97]:
dfTotal18 = four_dice_df[four_dice_df['Total'] == 18]
dfTotal18

        1    2    3    4  Total
179   1.0  5.0  6.0  6.0   18.0
209   1.0  6.0  5.0  6.0   18.0
214   1.0  6.0  6.0  5.0   18.0
359   2.0  4.0  6.0  6.0   18.0
389   2.0  5.0  5.0  6.0   18.0
...   ...  ...  ...  ...    ...
1264  6.0  6.0  1.0  5.0   18.0
1269  6.0  6.0  2.0  4.0   18.0
1274  6.0  6.0  3.0  3.0   18.0
1279  6.0  6.0  4.0  2.0   18.0
1284  6.0  6.0  5.0  1.0   18.0

[80 rows x 5 columns]

In [79]:
dfTotal18.Total.value_counts()

18.0    80
Name: Total, dtype: int64

1    2    3    4    Total
6.0  6.0  5.0  1.0  18.0     1
          4.0  2.0  18.0     1
4.0  3.0  6.0  5.0  18.0     1
     4.0  4.0  6.0  18.0     1
          5.0  5.0  18.0     1
                            ..
5.0  6.0  6.0  1.0  18.0     1
6.0  1.0  5.0  6.0  18.0     1
          6.0  5.0  18.0     1
     2.0  4.0  6.0  18.0     1
1.0  5.0  6.0  6.0  18.0     1
Length: 80, dtype: int64

In [81]:
four_dice_df.Total[four_dice_df['Total'] == 18].value_counts()

18.0    80
Name: Total, dtype: int64